.Contactus-main-parent .HomeNavbar-mainparent .navbar-expand-lg .navbar-nav {
    gap: 12px;
    border: 1px solid #000;
}

/* banner styles */
.ProjectsBanner-Banner-text h2 {
    font-size: 42px;
    width: 42%;
    text-align: center;
}

/* form starts here */

.ContactForm-icon {
    height: 45px;
    width: 45px;
    background: #fff;
    border-radius: 50%;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Edifice-map {
    padding: 30px 5px 50px 5px;
}

.Edifice-map iframe {
    border: 0;
    width: 100%;
    height: 450px;
    border-radius: 40px;
    filter: brightness(0.3);
    transition: all 0.1s linear;
}

.Edifice-map iframe:hover {
    filter: brightness(1);
}

.ContactForm-icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.ContactForm-icon-parent {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
}

.ContactForm-icon-parent p {
    margin: 0;
    color: #fff;
    font-size: 18px;
}

.ContactForm-icon-parent a {
    text-decoration: none;
    color: #fff;
}

.ContactForm-sub-left {
    background: #002150;
    padding: 35px;
    border-radius: 30px;
}

.contactform-SocialLinks {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
}

.ContactForm-sub-right textarea {
    resize: vertical;
    width: 100%;
    height: 120px;
    border: none;
    border-bottom: 1px solid #000;
    margin-top: 50px;
}

.ContactForm-sub-right {
    padding: 30px;
}

.ContactForm-sub-right input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding: 15px 0px 6px 0px;
    margin-top: 20px;
    outline: none;
}

.ContactForm-sub-right button {
    padding: 13px 26px;
    border-radius: 10px;
    border: none;
    background: #002150;
    color: #fff;
    float: right;
    margin-top: 10px;
}

.ContactForm-sub-parent {
    width: 90%;
    margin: auto;
}

.contactform-SocialLinks img {
    height: 25px;
    width: 28px;
    filter: brightness(13.5);

}

/* .ProjectsBanner-sub-parent {
    margin-top: 20px;
} */

/* maedia queries starts here */

@media screen and (max-width:991px) {
    .Contactus-main-parent .HomeNavbar-mainparent .navbar-expand-lg .navbar-nav {
        border: none;
    }

    .Contactus-main-parent .navbar-toggler-icon {
        filter: brightness(1);
    }

    .Contactus-main-parent .HomeNavbar-mainparent li.nav-item.active {
        border: none;
    }
    .ContactForm-icon-parent a{
        font-size: 14px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .Contactus-main-parent .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
}

@media screen and (max-width:767px) {
    :where(.css-dev-only-do-not-override-1uq9j6g).ant-modal .ant-modal-title {
        font-size: 20px !important;
        padding-top: 30px !important;
    }

    :where(.css-dev-only-do-not-override-1uq9j6g).ant-modal .ant-modal-close {
        position: absolute;
        top: 18px !important;
    }

    .ProjectsBanner-Banner-text {
        height: fit-content;
        padding: 40px 0px;
    }

    .Contactus-main-parent nav.navbar.navbar-expand-lg {
        padding: 0;
    }

    .ProjectsBanner-Banner-text h2 {
        font-size: 26px;
        width: 85%;
    }

    .ProjectsBanner-content h1 {
        font-size: 30px;
    }

    .ProjectsBanner-content {
        height: fit-content;
        padding: 8px 20px;
    }

    .ProjectsBanner-bg {
        height: 200px;
    }

    .ContactForm-sub-parent {
        width: 100%;
    }

    .ContactForm-sub-left {
        padding: 5px !important;
    }

    .ContactForm-icon {
        height: 40px !important;
        width: 40px !important;
        padding: 10px;
    }

    .ContactForm-icon-parent p {
        font-size: 16px;
    }

    .ContactForm-sub-right {
        padding: 10px;
    }

    .ContactForm-sub-right textarea {
        margin-top: 20px;
        height: 100px;
    }

    .Sendnowbutton {
        display: flex;
        justify-content: center;
    }

    .Edifice-map {
        padding: 20px 0px;
    }

    .Edifice-map iframe {
        height: 300px;
        border-radius: 0;
    }

    .ContactForm-sub-right button {
        padding: 8px 20px;
    }

    .ContactForm-sub-right input {
        margin-top: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .Contactus-main-parent nav.navbar.navbar-expand-lg {
        padding: 0;
    }

    .ContactForm-sub-parent {
        width: 100%;
    }

    .ContactForm-sub-left {
        padding: 5px !important;
    }

    .ContactForm-sub-right {
        padding: 10px;
    }

    .ContactForm-sub-parent .col-md-4 {
        width: 43%;
    }

    .ContactForm-icon-parent {
        gap: 10px;
        padding: 15px 10px;
    }

    .ContactForm-icon-parent p {
        font-size: 15px;
    }

    .ContactForm-icon {
        height: 35px;
        width: 35px;
    }

    .contactform-SocialLinks img {
        height: 20px;
        width: 20px;
    }

    .ContactForm-sub-parent .col-md-8 {
        width: 57%;
        padding: 0;
    }

    .ContactForm-sub-right textarea {
        margin-top: 10px;
    }

    .ContactForm-sub-right input {
        margin-top: 15px;
    }

    .ProjectsBanner-Banner-text {
        height: 330px;
    }

    .ProjectsBanner-Banner-text h2 {
        font-size: 32px;
    }

    .ProjectsBanner-content h1 {
        font-size: 42px;
    }

    .Edifice-map iframe {
        height: 350px;
        border-radius: 10px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .ContactForm-sub-parent .col-md-4 {
        width: 43%;
    }

    .ContactForm-sub-parent .col-md-8 {
        width: 57%;
        padding: 0;
    }

    .ContactForm-sub-left {
        padding: 15px;
    }

    .ContactForm-sub-right {
        padding: 15px;
    }

    .ContactForm-icon-parent {
        padding: 15px 10px;
    }

    .Edifice-map iframe {
        border: 0;
        width: 100%;
        height: 350px;
        border-radius: 20px;
    }

    .Contactus-main-parent .HomeNavbar-mainparent .navbar-expand-lg .navbar-nav {
        gap: 5px;
    }

    .Contactus-main-parent .HomeNavbar-mainparent .navbar-expand-lg .navbar-nav {
        padding: 6px 9px;
    }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
    .ContactForm-sub-left {
        padding: 5px;
    }

    .ContactForm-sub-parent .col-md-4 {
        width: 35%;
    }

    .ContactForm-sub-parent .col-md-8 {
        width: 65%;
    }

    .ContactForm-sub-right textarea {
        margin-top: 20px;
    }

    .ContactForm-icon-parent p {
        font-size: 16px;
    }

    .ContactForm-icon {
        height: 38px;
        width: 38px;
        padding: 9px;
    }

    .ContactForm-sub-right {
        padding: 0 20px 0px 20px;
    }
}



:where(.css-dev-only-do-not-override-1uq9j6g).ant-modal .ant-modal-title {
    font-size: 26px;
    line-height: 1.5;
    color: #002150;
    font-weight: 500;
    text-align: center;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-modal .ant-modal-close {
    position: absolute;
    top: 27px;
}